@import './pages/general/general-base.scss';
@import './marlene-mobile-vitrine.scss';
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

html {

    body {

        #ajaxBusy { 
            display: none !important;   
        }

        .e-general {
            float: left;
            width: 100%;

            // & * {
            //     font-family: $font;
            // }

            .e-hide {
                display: none;
            }

            .e-content {
                width: 100%;
                float: left;
                position: relative;
            }
        }

        #vtexIdContainer{
            position: fixed !important;
        }
    }
}
