
.e-home {
  .e-general {
    &__banner {
      &-main {
        &--desktop {
          width: 100%;
          height: auto;
          img {
            width: 100%;
          }
        }
      }
    }
    &__banners {
      &-category {
        &--container {
          display: flex;
          .box-banner {
            width: 100%;
            height: auto;
            a {
             display: inline-block;
             width: 100%;
             height: 100%;
             img {
               padding: 10px;
               width: 100%;
               height: auto;
              }
            }
          }
        }
      }
    }
    &__shelve {
      &-launch, &-dear {
        padding: 40px 0;
        &--title {
          display: flex;
          justify-content: center;
          font-size: 19px;
          letter-spacing: 4px;
          line-height: 20px;
          color: #000000;
          font-family: "Lato";
          font-weight: bold;
          padding: 20px 0;
          text-transform: uppercase;
        }
        &--container {
          .vitrine {
            > ul {
              display: none;
              &.slick-slider {
                display: block;
              }
            }
          }
        }
      }
    }
    &__newsletter {
    display: flex;
    justify-content: space-around;
    padding: 20px 30px;
    align-items: center;
      &-title {
        font-size: 33px;
        letter-spacing: 5px;
        font-weight: 100;
        color: #000;
        text-transform: uppercase;
        font-family: 'Lato', sans-serif;
      }
      &-text {
        font-size: 14px;
        color: #000;
        font-family: 'Lato', sans-serif;
        display: flex;
        align-items: center;
      }
      &-form {
        input {
          &#name {
            padding-left: 15px;
            width: 200px;
            border: 1px solid #c7c7c7;
            height: 45px;
            font-family: 'Lato', sans-serif;
            text-transform: uppercase;
            color: #000;
            outline: none;
            letter-spacing: 1px;
          }
          &#email {
            padding-left: 15px;
            width: 200px;
            border: 1px solid #c7c7c7;
            height: 45px;
            margin: 0 20px;
            font-family: 'Lato', sans-serif;
            text-transform: uppercase;
            color: #000;
            outline: none;
            letter-spacing: 1px;
          }
          &#telefone {
            padding-left: 15px;
            width: 200px;
            border: 1px solid #c7c7c7;
            height: 45px;
            margin: 0;
            font-family: 'Lato', sans-serif;
            text-transform: uppercase;
            color: #000;
            outline: none;
            letter-spacing: 1px;
          }
          &#submit {
            padding: 15px 30px;
            margin: 0 15px;
            font-family: 'Lato', sans-serif;
            text-transform: uppercase;
            cursor: pointer;
            background: #e2e2e2;
            border: none;
            font-style: italic;
            outline: none;
            font-weight: 600;
            letter-spacing: 1px;
            color: #5f5f5f;
          }
        }
      }
      &-sucess {
        display: inline-block;
        width: 50%;
        text-align: center;
        &.e-hide {
          display: none;
        }
      }
      &-error {
        display: inline-block;
        width: 50%;
        text-align: center;
        p {
          padding: 50px 0;
        }
        .e-voltar {
          background: #c7c7c7;
          padding: 10px 30px;
          margin: 20px;
          color: #5f5f5f;
          cursor: pointer;
        }
        &.e-hide {
          display: none;
        }
      }
    }
  }
}