#goog_conv_iframe {
    display: none !important;
}

.e-header {
    &__content {
        @media (max-width: 992px) {
            display: none;
        }
        &-topo {
            display: flex;
            justify-content: space-between;
            height: 100px;
            align-items: center;
            overflow: hidden;
            &--logo {
                width: 70%;
                height: auto;
                a {
                    width: 100%;
                    height: 100%;
                    display: inline-block;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
            &--search {
                display: flex;
                align-items: center;
                width: 100%;
                justify-content: center;
                top: 15px;
                position: relative;
                .busca {
                    display: flex;
                    legend,
                    label,
                    select {
                        display: none;
                    }
                    .fulltext-search-box {
                        border: none;
                        border-bottom: 1px solid #a1a1a1;
                        width: 220px;
                        padding-bottom: 5px;
                        outline: none;
                    }
                    .btn-buscar {
                        font-size: 0;
                        background: url(/arquivos/search-icon.png) no-repeat center;
                        width: 25px;
                        height: 25px;
                        cursor: pointer;
                        left: 200px;
                        position: relative;
                        top: -27px;
                        background-size: 18px;
                        border: none;
                        outline: none;
                    }
                }
            }
            &--list {
                display: flex;
                align-items: center;
                width: 70%;
                justify-content: center;
                &-icon {
                    background: url(/arquivos/gift.png) no-repeat center;
                    width: 30px;
                    height: 30px;
                    display: inline-block;
                    background-size: 25px;
                    padding: 0 25px;
                }
                &-content {
                    display: flex;
                    flex-direction: column;
                    font-family: 'Lato', sans-serif;
                    .title {
                        a {
                            white-space: nowrap;
                            color: #000;
                            font-size: 14px;
                            font-weight: 600;
                            padding-bottom: 5px;
                            text-decoration: none;
                        }
                    }
                    .content {
                        a {
                            color: #a1a1a1;
                            font-size: 13px;
                            margin: 0;
                            text-decoration: underline;
                            &:first-child {
                                &:after {
                                    content:'|';
                                    font-size: 13px;
                                    margin: 0 10px;
                                }
                            }
                        }
                    }
                }
            }
            &--telephone {
                display: flex;
                align-items: center;
                width: 70%;
                justify-content: center;
                &-icon {
                    background: url(/arquivos/phone-call.png) no-repeat center;
                    width: 30px;
                    height: 30px;
                    display: inline-block;
                    background-size: 25px;
                    padding: 0 20px;
                }
                &-content {
                    display: flex;
                    flex-direction: column;
                    font-family: 'Lato', sans-serif;
                    align-items: flex-start;
                    .title {
                        color: #000;
                        font-size: 14px;
                        font-weight: 600;
                        padding-bottom: 5px;
                    }
                    .text {
                        font-size: 14px;
                        text-align: center;
                    }
                }
            }
            &--store {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 70%;
                &-icon {
                    background: url(/arquivos/location.png) no-repeat center;
                    width: 30px;
                    height: 30px;
                    display: inline-block;
                    background-size: 25px;
                    padding: 0 20px;
                }
                &-content {
                    display: flex;
                    flex-direction: column;
                    font-family: 'Lato', sans-serif;
                    .title {
                        color: #000;
                        font-size: 14px;
                        font-weight: 600;
                        padding-bottom: 3px;
                    }
                    .content {
                        font-size: 13px;
                        text-decoration: underline;
                        a {
                            color: #a1a1a1;
                            text-decoration: none;
                        }
                    }
                }
            }
            &--account {
                display: flex;
                align-items: center;
                flex-direction: column;
                background-color: #f6f6f6;
                justify-content: center;
                width: 30%;
                height: 100%;
                &-icon {
                    background: url(/arquivos/account-icon.png) no-repeat center;
                    width: 100%;
                    height: 30px;
                    background-size: 20px;
                }
                &-content {
                    font-size: 14px;
                    width: 70px;
                    text-align: center;
                    font-family: 'Lato', sans-serif;
                    a {
                        color: #000;
                        text-transform: uppercase;
                        text-decoration: none;
                    }
                }
            }
            &--bag {
                width: 30%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                background-color: #eeeeee;
                height: 100%;
                &-icon {
                    background: url(/arquivos/shopping-bag.png) no-repeat center;
                    width: 100%;
                    height: 30px;
                    background-size: 20px;
                }
                a {
                    display: flex;
                    width: 100%;
                    height: 100%;
                    justify-content: center;
                    flex-direction: column;
                    text-align: center;
                    text-decoration: none;
                    span {
                        color: #000;
                        text-transform: uppercase;
                        font-size: 14px;
                        font-family: 'Lato', sans-serif;
                        .carrinho {
                            display: none;
                        }
                    }
                }
            }
        }
        &--menu {
            display: flex;
            width: 100%;
            height: 38px;
            align-items: center;
            background-color: #e2e2e2;
            text-decoration: none;
            &-list {
                display: flex;
                width: 100%;
                justify-content: space-around;
                li {
                    padding: 20px 0;
                    position: relative;
                    >a {
                        color: #5f5f5f;
                        text-transform: uppercase;
                        font-family: "Lato";
                        font-weight: 600;
                        text-decoration: none;
                        position: relative;
                    }
                    ul {
                        display: none;
                    }
                    &:hover {
                        ul {
                            display: inline-block;
                            position: absolute;
                            left: 0;
                            top: 45px;
                            background: #e2e2e2;
                            padding: 0 70px 0 20px;
                            text-align: left;
                            z-index: 9999999;
                            li {
                                white-space: nowrap;
                                a {
                                    font-family: "Lato";
                                    font-weight: 400;
                                    text-decoration: none;
                                    &:hover {
                                        &:after {
                                            width: 100%;
                                            right: 0;
                                            text-shadow: none !important;
                                        }
                                    }
                                    &:after {
                                        content: '';
                                        display: block;
                                        width: 0;
                                        height: 1px;
                                        background: #646464;
                                        position: absolute;
                                        right: 100%;
                                        transition: all .5s;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &__mobile {
        @media (max-width: 992px) {
            display: block !important;
        }
    }
}